<section class="reviews section" id="reviews">
  <!-- Anhelina -->
  <div class="container">
    <h2 class="reviews-titel">Reviews</h2>
    <ul class="reviews-list list">
      <li class="reviews-item item">
        <div class="rev-student">
          <img class="rev-avatar" src="./img/reviews/abraham.jpg" alt="Abraham Baker" />
          <div class="rev-student-titel">
            <h3 class="rev-author-titel">Abraham Baker</h3>
            <p class="rev-text-titel">Student</p>
          </div>
        </div>
        <div class="rev-stars">
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star-gray" width="16" height="16">
            <use href="./img/icons.svg#icon-star-rev"></use>
          </svg>
        </div>
        <p class="rev-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <!-- <li class="reviews-item item">
        <div class="rev-student">
          <img class="rev-avatar" src="./img/reviews/abraham.jpg" alt="Abraham Baker" />
          <div class="rev-student-titel">
            <h3 class="rev-author-titel">Abraham Baker</h3>
            <p class="rev-text-titel">Student</p>
          </div>
        </div>
        <div class="rev-stars">
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="./img/icons.svg#icon-star-color-rev"></use>
          </svg>
          <svg class="star-gray" width="16" height="16">
            <use href="./img/icons.svg#icon-star-rev"></use>
          </svg>
        </div>
        <p class="rev-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li> -->
    </ul>
  </div>
</section>
