<section class="sp-section">
        <div class="container">
            <h2 class="sp-title" >Sign <span>Up</span>

            </h2>
            <p class="su-paragraf">
                Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.
            </p>
            <form>
                <input class="su-input" type="text" id="name" placeholder="Enter your name"  required>
                <input class="su-input" type="email" id="email" placeholder="Enter your email" required>
                <textarea class="su-text-area" name="message" id="message" placeholder="Message" required></textarea>
                <button class="su-button" type="submit">Send</button>
                <p class="policy-paragraf">
                    By clicking on “Send” button, you agree to our <span>
                        <a class="span-policy" href="">Privacy Policy,</a>
                    </span>and allow Promodo to use this information for marketing purposes.
                </p>
            </form>
        </div>
    </section>