/* .courses {
} */

.courses-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.courses-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;

  margin-bottom: 20px;
}

/* .courses-description {
  
} */

.courses-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.courses-card-item {
  display: flex;
  position: relative;
  height: 398px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    180deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );

  padding: 28px;
}

.courses-number {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 42px;
}

.courses-btn {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1d1d1d;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.courses-card-icon {
  stroke: #777777;
}

.courses-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courses-card-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-top: 88px;
}

.courses-card-description {
  color: rgba(255, 255, 255, 0.5);
}
