.main-hero-h {
  color: var(--white);
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: -0.1rem;
  font-weight: 500;
  padding: 40px 0 20px 0;
}

.hero-section {
  background-color: var(--black);
}

.div-hero-section {
  background: var(--gradient-end);
  width: 335px;
  height: 777px;
  border-radius: 30px;
  padding: 0 20px 20px 20px;
}
.color-hero-update {
  color: var(--brown);
}

.color-hero-update {
  font-style: italic;
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: -0.1rem;
  font-weight: 400;
}

.hero-paragraf {
  font-size: 14px;
  color: var(--white);
  margin-bottom: 40px;
}

.hero-studend-and-review {
  display: flex;
  width: 251px;
  /* height: 84px; */
  gap: 40px;
}

.hero-students {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.img-student {
  max-width: 44px;
  height: 44px;
  margin-left: -10px;
}

.first-img-student {
  margin-left: 0;
}

.hero-list-item:nth-child(3n + 1) {
  z-index: 2;
}
.hero-list-item:nth-child(3n + 2) {
  z-index: 1;
}

.hero-list-item-link {
  display: inline-flex;
}

.hero-review {
  display: flex;
}
.hero-p-review {
  color: rgba(255, 255, 255, 0.5);
}

.hero-section-photo-list {
  display: flex;
  margin-bottom: 4px;
}

.hero-right-svg {
  fill: var(--white);
}
.color-hero-update {
  color: var(--brown);
  margin: 0 10px 0 0;
}

.hero-a-svg-star {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: var(--brown);
  border-radius: 50%;
  margin-right: 12px;
}

.hero-star-svg {
  display: flex;
  stroke: var(--black);
  fill: var(--brown);
}

.hero-text-human-p {
  width: 67px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.hero-img-man-main {
  /* position: absolute; */
}

.hero-p-review {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-img-man-main-tab {
    display: none;
  }
  .hero-img-man-main-desk {
    display: none;
  }
  .hero-section-one {
    margin-bottom: 27px;
  }
  .hero-link-our-happy {
    display: flex;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .div-hero-section {
    background: var(--gradient-end);
    width: 704px;
    height: 900px;
    border-radius: 30px;
    padding: 64px 32px 0 32px;
    margin-bottom: 100px;
  }
  .hero-img-man-main {
    display: none;
  }
  .hero-link-our-happy {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .main-hero-h {
    color: var(--white);
    /* font-size: 2.5rem; */
    font-size: 3.75rem;
    line-height: 2.75rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    padding: 0px 0 20px 0;
    width: 511px;
    line-height: 4rem;
  }
  .color-hero-update {
    font-size: 3.75rem;
    line-height: 4rem;
    margin: 0 13px 0 0;
  }
  .hero-paragraf {
    width: 418px;
  }
  .hero-students {
    display: flex;
    flex-wrap: nowrap;
    align-items: unset;
  }
  .hero-img-man-main-desk {
    display: none;
  }

  .hero-studend-and-review {
    margin-bottom: 44px;
  }
  .hero-possition-photo {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .hero-img-man-main {
    display: none;
  }
  .hero-img-man-main-tab {
    display: none;
  }
  .div-hero-section {
    width: 1080px;
    height: 600px;
    padding: 80px 50px 0 50px;
    display: flex;
    justify-content: space-between;
  }
  .main-hero-h {
    width: 530px;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.25rem;
    letter-spacing: -0.16rem;
    padding-bottom: 20px;
  }
  .color-hero-update {
    margin: 0 14px 0 0;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2.56px;
  }
  .hero-section-photo-list {
    display: flex;
    margin-bottom: 4px;
  }
  .hero-paragraf {
    width: 418px;
    margin-bottom: 138px;
  }
  .hero-students {
    display: flex;
    flex-wrap: nowrap;
    align-items: unset;
  }
  .hero-fix-image {
    position: absolute;
    /* top: 0; */
    right: 50px;
    bottom: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .main-hero-h {
    width: 530px;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.25rem;
    letter-spacing: -0.16rem;
    padding-bottom: 20px;
  }
  .color-hero-update {
    margin: 0 14px 0 0;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2.56px;
  }
  .hero-paragraf {
    width: 418px;
    margin-bottom: 138px;
  }
  .hero-img-man-main {
    display: none;
  }
  .hero-img-man-main-tab {
    display: none;
  }
  .div-hero-section {
    width: 1240px;
    height: 600px;
    padding: 80px 50px 0 50px;
    display: flex;
    justify-content: space-between;
  }
  .hero-students {
    display: flex;
    flex-wrap: nowrap;
    align-items: unset;
  }
}
